<template>
  <q-item>
    <q-item-section>
      <q-item-label>{{ received ? 'Avaliador: ' + evaluation.evaluator.name : 'Avaliado: ' + evaluation.evaluee.name }}</q-item-label>
      <q-item-label caption lines="2">{{ evaluation.comments == "" ? 'Nenhum comentário inserido' : evaluation.comments }}</q-item-label>
    </q-item-section>
    
    <q-item-section side top>
      <q-item-label caption>{{ formatDateToScreen(evaluation.start_date) }} - {{ formatDateToScreen(evaluation.end_date) }}</q-item-label>
      <div class="text-orange">
        <q-icon v-for="i in evaluation.grade" :key="i" name="star" />
      </div>
    </q-item-section>
  </q-item>
</template>

<script>
// mixins
import { sharedMixin } from '@/mixins/sharedMixin'
export default {
  name: 'Evaluation',
  mixins: [sharedMixin],
  props: {
    evaluation: Object,
    received: Boolean
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
