<template>
  <div class="row">
    <div class="col-6">
      <q-card class="q-mx-sm evaluations">
        <q-card-section class="q-py-sm">
          <div class="text-h6">Avaliações recebidas</div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <div class="no-result" v-if="received_evaluations.length == 0">
            Você ainda não recebeu nenhuma avaliação.
          </div>  
          <q-list v-else v-for="(received, index) in received_evaluations" :key="index">
            <evaluation :evaluation="received" :received="true"></evaluation>
            <q-separator spaced inset />
          </q-list>
        </q-card-section>
      </q-card>
    </div>
    <div class="col-6">
      <q-card class="q-mx-sm evaluations">
        <q-card-section class="q-py-sm row">
          <div class="col text-h6">Avaliações realizadas</div>
          <div class="col-auto">
            <q-btn color="black" outline size="12px" label="Nova avaliação" @click="open=true"/>
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <div class="no-result" v-if="applied_evaluations.length == 0">
            Você ainda não realizou nenhuma avaliação. Quando gerenciar colaboradores, poderá avaliá-los.
          </div>
          <q-list v-else v-for="(applied, index) in applied_evaluations" :key="index">
            <evaluation :evaluation="applied" :received="false"></evaluation>
            <q-separator spaced inset />
          </q-list>
        </q-card-section>
      </q-card>
    </div>
    <q-dialog v-model="open">
      <evaluation-form :eval="newEvaluation" @created="evaluationCreated" @close="open=false"> </evaluation-form>
    </q-dialog>
  </div>
</template>

<script>
// services
import EvaluationRequests from '@/services/api/EvaluationRequests'

//components
import Evaluation from '@/components/Evaluation'
import EvaluationForm from '@/components/EvaluationForm'

export default {
  name: 'Evaluations',
  components: {
    Evaluation,
    EvaluationForm
  },
  data() {
    return {
      open: false,
      received_evaluations: [],
      applied_evaluations: [],
      newEvaluation: {
        evaluator_id: null,
        evaluee_id: null,
        grade: 0,
        comments: '',
        start_date: '',
        end_date: ''
      }
    }
  },
  mounted() {
    this.getEvaluations() 
  },
  methods: {
    getEvaluations() {
      EvaluationRequests.index()
      .then(response => {
        this.received_evaluations = response.data.received
        this.applied_evaluations = response.data.applied
      })
      .catch(error => {})
    },
    evaluationCreated(evaluation) {
      this.open = false
      this.applied_evaluations.unshift(evaluation)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.evaluations {
  min-height: 300px;
}
.no-result {
  text-align: center;
  color: gray;
  font-size: 18px;
  font-weight: bold;
}
</style>
