<template>
  <div style="background: white; min-width: 700px; max-height: 400px;" class="q-pa-md">
    <h5>Nova avaliação</h5>
    <q-select v-model="evaluation.evaluee_id" :options="usersManagedOptions"
                        options-dense clearable label="Escolha qual usuário será avaliado:" 
                        emit-value map-options
                        @blur="$v.evaluation.evaluee_id.$touch" 
                        :error="$v.evaluation.evaluee_id.$error"
                        error-message="Usuário avaliado deve ser escolhido"/>
    <div class="row">
      <q-input class="col-5" v-model="evaluation.start_date" mask="##/##/####"
              label="Início do período de avaliação:"
              @blur="$v.evaluation.start_date.$touch" 
              :error="$v.evaluation.start_date.$error"
              error-message="Data inicial deve ser escolhida" >
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
              <q-date mask="DD/MM/YYYY" v-model="evaluation.start_date" @input="() => $refs.qDateProxy.hide()" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
      <q-input class="offset-2 col-5" v-model="evaluation.end_date" mask="##/##/####"
              label="Fim do período de avaliação:"
              @blur="$v.evaluation.end_date.$touch" 
              :error="$v.evaluation.end_date.$error"
              error-message="Data final deve ser escolhida">
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
              <q-date mask="DD/MM/YYYY" v-model="evaluation.end_date" @input="() => $refs.qDateProxy.hide()" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </div>
    <q-rating v-model="evaluation.grade" size="2em" :max="5" color="orange-6" class="q-mt-md">
      <template v-slot:tip-1>
        <q-tooltip>Péssimo</q-tooltip>
      </template>
      <template v-slot:tip-2>
        <q-tooltip>Ruim</q-tooltip>
      </template>
      <template v-slot:tip-3>
        <q-tooltip>Regular</q-tooltip>
      </template>
      <template v-slot:tip-4>
        <q-tooltip>Bom</q-tooltip>
      </template>
      <template v-slot:tip-5>
        <q-tooltip>Ótimo</q-tooltip>
      </template>
    </q-rating>

    <q-input v-model="evaluation.comments" autogrow label="Comentários:" />

    <div class="row q-mt-md float-right">
      <q-btn flat color="red" @click="close()" size="13px" label="Fechar" class="q-mr-md" />
      <q-btn color="primary" @click="createEvaluation()" size="13px" 
              label="Enviar avaliação" :disabled="$v.evaluation.$invalid || evaluation.grade == 0" />
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";

// services
import UserRequests from '@/services/api/UserRequests'
import EvaluationRequests from '@/services/api/EvaluationRequests'

// mixins
import { sharedMixin } from '@/mixins/sharedMixin'

export default {
  name: 'EvaluationForm',
  mixins: [sharedMixin],
  props: {
    eval: Object,
  },
  data() {
    return {
      usersManagedOptions: [],
      evaluation: {}
    }
  },
  mounted() {
    this.evaluation = Object.assign({}, this.eval)
    this.getUserOptions()
  },
  methods: {
    getUserOptions() {
      UserRequests.managedUsers()
      .then(response => {
        this.usersManagedOptions = response.data.users
      })
      .catch(error => {})
    },
    createEvaluation() {
      EvaluationRequests.create(this.evaluation)
      .then(response => {
        this.$emit('created', response.data)
      })
      .catch(error => {})
    },
    close() {
      this.$emit('close')
    }
  },
  validations: {
    evaluation: {
      evaluee_id: {
        required
      },
      grade: {
        required
      },
      start_date: {
        required
      },
      end_date: {
        required
      },
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}
</style>
