<template>
    <div class="absolute-center" style="width: 400px">

    <div class="q-gutter-md">
      <q-input filled v-model="user.email" label="E-mail" />

      <q-input filled type="password" v-model="user.password" label="Senha" />

      <div>
        <q-btn label="Entrar" color="primary" @click="login()"/>
      </div>
    </div>

  </div>
</template>

<script>
// services
import SessionRequests from '@/services/api/SessionRequests'
export default {
    data () {
        return {
            user: {
                email: '',
                password: ''
            }
        }
    },
    methods: {
        login() {
            SessionRequests.create(this.user)
            .then(response => {
                localStorage.setItem('repassa_auth', response.data.token)
                const payload = {
                    firstName: response.data.first_name,
                    admin: response.data.admin
                }
                this.$store.commit("CURRENT_USER", payload)
                this.$router.push('/avaliacoes')
            })
            .catch(error => {
                console.log(error)
            })
        },
    }
}
</script>

<style>

</style>
