<template>
    <div v-if="currentUserFirstName !== ''" class="q-pb-md">
        <q-toolbar class="bg-primary text-white shadow-2">
            <div style="font-size: 18px;" class="q-ml-md">Bem vindo, {{ currentUserFirstName }}</div>
            <q-space />


            <router-link :to="'usuarios'">
                <q-btn v-if="currentUserAdmin" flat label="Usuários" color="white" />
            </router-link>
            <q-separator dark vertical />
            <router-link :to="'avaliacoes'">
                <q-btn flat label="Avaliações" color="white" />
            </router-link>
            <q-separator dark vertical />
            <q-btn flat label="Sair" @click="logout()" />
        </q-toolbar>
    </div>
</template>

<script>
// services
import SessionRequests from '@/services/api/SessionRequests';

// mixins
import { sharedMixin } from '@/mixins/sharedMixin'
export default {
    mixins: [sharedMixin],
    methods: {
        logout() {
            SessionRequests.delete()
            .then(response => {
                localStorage.removeItem('repassa_auth')
                const payload = {
                    firstName: "",
                    admin: false
                }
                this.$store.commit("CURRENT_USER", payload)
                this.$router.push('/login')
            })
            .catch(error => {})
        }
    }
}
</script>


<style scoped>
a {
    text-decoration: none;
}
</style>
