<template>
  <div class="q-mx-md">
    <q-table :data="users" :columns="columns" row-key="name" >

      <template v-slot:top="props">
        <div class="col-2 q-table__title">Usuários</div>

        <q-space />

        <q-btn color="black" outline size="12px" label="Novo usuário" @click="setNewUser()"/>
      </template>

      <q-td slot="body-cell-admin" slot-scope="props" :props="props">
        {{ props.row.admin ? 'SIM' : 'NÃO' }}
      </q-td>

      <q-td slot="body-cell-actions" slot-scope="props" :props="props">
        <q-btn @click="editUser(props.row.id)" round flat icon="edit" class="q-mr-xs" size="12px" >
              <q-tooltip :delay="500">Editar</q-tooltip>
        </q-btn>
        <q-btn @click="deleteUser(props.row.id)" round flat icon="delete" class="q-mr-xs" size="12px" color="black" >
          <q-tooltip :delay="500">Excluir</q-tooltip>
        </q-btn>
      </q-td>
    </q-table>
    <q-dialog v-model="open">
      <user-form :userProp="newUser" @created="userCreated" @updated="userUpdated" @close="closeForm()"> </user-form>
    </q-dialog>
  </div>
</template>

<script>
// services
import UserRequests from '@/services/api/UserRequests'

//components
import UserForm from '@/components/UserForm'

export default {
  name: 'Users',
  components: {
    UserForm
  },
  data() {
    return {
      open: false,
      users: [],
      columns: [
        { name: 'name', align: 'left', label: 'Nome', field: 'name', sortable: true },
        { name: 'email', align: 'left', label: 'E-mail', field: 'email', sortable: true },
        { name: 'manager_name', align: 'left', label: 'Gerente', field: 'manager_name', sortable: true },
        { name: 'admin', align: 'left', label: 'Admin?', field: 'admin', sortable: true },
        { name: 'actions', align: 'right', label: '', field: '', sortable: false },
      ],
      newUser: {
        id: null,
        manager_id: null,
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      }
    }
  },
  mounted() {
    this.getUsers() 
  },
  methods: {
    getUsers() {
      UserRequests.index()
      .then(response => {
        this.users = response.data.users
      })
      .catch(error => {})
    },
    editUser(id) {
      var index = this.users.findIndex(user => user.id === id)
      this.newUser = this.users[index]
      this.open = true
    },
    deleteUser(id) {
      UserRequests.delete(id)
      .then(response => {
        var index = this.users.findIndex(user => user.id === id)
        this.users.splice(index, 1)
      })
      .catch(error => {
        this.$q.notify({
          message: error.response.data.errors,
          color: 'red'
        })
      })
    },
    userCreated(user) {
      this.open = false
      this.users.unshift(user)
    },
    userUpdated(user) {
      this.open = false
      var index = this.users.findIndex(u => u.id === user.id)
      this.users[index].name = user.name
      this.users[index].email = user.email
      this.users[index].admin = user.admin
      this.users[index].manager_name = user.manager_name
    },
    closeForm() {
      this.open = false
    },
    setNewUser() {
      this.newUser = {
        id: null,
        manager_id: null,
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      }
      this.open = true
    }
  }
}
</script>

<style scoped>

</style>
