<template>
  <div style="background: white; min-width: 700px; max-height: 600px;" class="q-pa-md">
    <h5>Novo usuário</h5>
    <q-input v-model="user.name" label="Nome:"
            @blur="$v.user.name.$touch" 
            :error="$v.user.name.$error"
            error-message="Nome deve ser preenchido" />
    <q-input v-model="user.email" label="E-mail:"
            @blur="$v.user.email.$touch" 
            :error="$v.user.email.$error"
            error-message="E-mail deve ser preenchido" />
    <q-toggle v-model="user.admin" label="Admin?" left-label />
    <q-select v-model="user.manager_id" :options="usersList"
                        options-dense clearable label="Quem irá gerenciar esse usuário:" 
                        emit-value map-options />
    <template v-if="user.id === null">
      <q-input v-model="user.password" type="password" label="Senha:" 
            @blur="$v.user.password.$touch" 
            :error="$v.user.password.$error"
            error-message="Senha deve ser preenchida" />
      <q-input v-model="user.password_confirmation" type="password" label="Confirmação da senha:"
            @blur="$v.user.password_confirmation.$touch" 
            :error="$v.user.password_confirmation.$error"
            error-message="Confirmação deve ser igual a senha"  />
    </template>
    <div class="row q-mt-md float-right">
      <q-btn flat color="red" @click="close()" size="13px" label="Fechar" class="q-mr-md" />
      <q-btn v-if="user.id !== null" color="primary" @click="updateUser()" size="13px" 
              label="Atualizar usuário" :disabled="$v.user.$invalid" />
      <q-btn v-else color="primary" @click="createUser()" size="13px" 
              label="Cadastrar usuário" :disabled="$v.user.$invalid" />

    </div>
  </div>
</template>

<script>
import { required, requiredIf, sameAs } from "vuelidate/lib/validators";

// services
import UserRequests from '@/services/api/UserRequests'

export default {
  name: 'UserForm',
  props: {
    userProp: Object,
  },
  data() {
    return {
      usersList: [],
      user: {}
    }
  },
  mounted() {
    this.user = Object.assign({}, this.userProp)
    this.getManagerOptions(this.userProp.id)
  },
  methods: {
    getManagerOptions(id) {
      UserRequests.managerOptions(id)
      .then(response => {
        this.usersList = response.data.users
      })
      .catch(error => {})
    },
    createUser() {
      UserRequests.create(this.user)
      .then(response => {
        this.$emit('created', response.data)
      })
      .catch(error => {
        this.$q.notify({
          message: error.response.data.errors,
          color: 'red'
        })
      })
    },
    updateUser() {
      UserRequests.update(this.user)
      .then(response => {
        this.$emit('updated', response.data)
      })
      .catch(error => {
        this.$q.notify({
          message: error.response.data.errors,
          color: 'red'
        })
      })
    },
    close() {
      this.$emit('close')
    }
  },
  validations: {
    user: {
      name: {
        required
      },
      email: {
        required
      },
      password: {
        requiredIf: requiredIf(function() {
          return this.user.id === null
        })
      },
      password_confirmation: {
        requiredIf: requiredIf(function() {
          return this.user.id === null
        }),
        sameAsPassword: sameAs('password')
      },
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}
</style>
